.App {
  background: whitesmoke;
  width: 350px;
  height: 650px;
  font-size: 12pt;
  padding: 10px;
}

.App-header {
  font-family: 'Yeseva One', cursive;;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40pt;
  color: #303030;
}

h2 {
  font-size: 18pt;
  color: grey;
  display: block;
  text-align: center;
  justify-content: center;
}

input[type='text'],
input[type='url'],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


div {
  background-color: transparent;
}

label {
  font-weight: 600;
}

.my-outline {
  background-color: none !important;
  border: 1px solid grey;
}

.my-outline:hover{
  border: 1px solid dimgray;
  background-color: dimgray;
}

Button {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}

.img-responsive-center {
  max-height: 50px;
  display: block;
  left:0;
  right:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
